@import url("https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Inter:wght@200;400;600;800;900&family=Oswald:wght@300;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@300;500;600;700&family=Roboto+Flex:wght@300;500;600;700;800&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


:root {
    scroll-behavior: smooth;
    --all-pad: 0 7em ;
    --mainColor: #eb5d1e;
    --primaryColor: #fef8f5;
    --headingColor: #4e4039;
    --headingLight: #c2b7b1;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

body {
    font-family: 'Andika', sans-serif;

}

nav {
    padding:var(--all-pad);
    display: flex;
    align-items: center;
    height: 4.5em;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    
    box-shadow: 0 6px 7px #00000013;
}

.logo a {
    color: #544a44;
    font-family: 'Raleway Light', sans-serif;
    font-size: 1.8em;
    letter-spacing: 2.5px;
    cursor: pointer;
    font-weight: 600;
}

.r-nav {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.links>ul {
    display: flex;
    gap: 1.8em;
}

.links ul li {
    position: relative;
}

.links ul li a {
    white-space: nowrap;
    transition: .3s;
    text-transform: capitalize;
    font-size: .94em;
    color: #4e4039;
}

.links ul li:is(.act, :hover)>a {
    color: var(--mainColor);
}

.links ul li a i {
    margin-left: .3em;
    transition: .3s;
    font-size: .75em;
}

ul.drop {
    background: #fff;
    position: absolute;
    gap: .8em;
    top: 5em;
    display: grid;
    width: auto;
    visibility: hidden;
    opacity: 0;
    padding: 1.2em 1.5em;
    transition: .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 0 0 1.98em #7f89a140
}

ul.drop-deep {
    font-weight: 400;
    left: 8em;
    top: 0;
    z-index: 1;
}

ul li.to_drop:hover>ul {
    visibility: visible;
    top: 2.2em;
    opacity: 1;
}

ul li.to_drop:hover>ul.drop-deep {
    left: 10.4em;
    top: 0;
}

.nav-btn button {
    border-radius: 20px !important;
}

.menu-btn {
    display: none;
}

.menu-btn button {
    border: 0;
    font-size: 2em;
    background-color: var(--trns);
}

.menu-btn button i.bi-x {
    display: block;
    transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu-btn button i.bi-x {
    scale: 1.4;
}

.menu-btn.show {
    display: block;
}

header {
    padding: var(--all-pad);
    background-color: var(--primaryColor);
    display: flex;
    height: 70vh;
    gap: 2em;
    align-items: center;
    border-bottom: 1.5px solid #eb5c1e22;
}

header>div {
    max-width: 50%;
}

header .lf {
    flex-shrink: 2;
}

header .lf h1 {
    font-size: clamp(2em, 1em + 2.5vw, 3em);
    line-height: 1.1;
    font-weight: 600;
    color: var(--headingColor);
}

header .lf p {
    font-size: clamp(.85em, .4em + 2.5vw, 1.35em);
    line-height: 1.3;
    color: #a08f86;
    font-weight: 500;
    margin: 1em 0;
}

header .lf .gs2 button,
.nav-btn button {
    margin-top: .4em;
    outline: 0;
    font-size: 1em;
    border: 0;
    transition: .3s;
    border-radius: 3px;
    white-space: nowrap;
    padding: .7em 1.7em;
    color: #fff;
    background-color: var(--mainColor);
}

header .lf .gs2 button:hover {
    opacity: .8;
}

header .rt img {
    max-width: 100%;
    width: 39em;
    animation: moveUPDown 2.15s ease-in-out alternate-reverse infinite;
}

@keyframes moveUPDown {
    100% {
        translate: 0 -2em;
    }
}

main>section {
    padding: 3em 7em;
}

main>section :is(.l_h, .m_h) {
    text-align: center;
}

main>section:nth-child(even) {
    background-color: var(--primaryColor);
}

.l_h {
    color: var(--headingLight);
}

.m_h {
    color: var(--headingColor);
    line-height: 1.2;
    position: relative;
    font-size: clamp(1.5em, 1em + 2.5vw, 2.2em);
}
.m_h::after{
    content: '';
    height: .05em;
    width: 1.8em;
    left: calc(50% - .9em);
    background: var(--mainColor);
    position: absolute;
    bottom: -.5em;
}
#aboutUs {
    display: flex;
    justify-content: space-between;
}

#aboutUs>div {
    max-width: 50%;
}
#aboutUs .lf{
    flex-shrink: 2;
}
#aboutUs .lf img {
    width: 86.5%;
}
#aboutUs .rt h2{
    color: var(--headingColor);
    line-height: 1.2;
    font-size: clamp(1.5em, 1em + 2.5vw, 2.2em);
}
#aboutUs .rt p{
    margin: 1em 0;
    color: #5a6570;
}

#aboutUs .rt .flx {
    display: flex;
    gap: 1em;
    place-content: center;
}

#aboutUs .rt .flx>div i {
    color: var(--mainColor);
    font-size: 2.3em;
}

#aboutUs .rt .flx>div h3 {
    color: #7a6960;
    font-size: 1.35em;
}

#aboutUs .rt .flx>div p {
    line-height: 1.3;
    font-size: .9em;
    margin-top: .5em;
}
.m_p {
    font-size: .98em;
    color: #5a6570;
}


#services .ser {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19em, 1fr));
    gap: 1em;
    padding: 5em 0;
    justify-content: center;
}
#services .ser>div{
    /* max-width: 20em; */
    background: #fff;
    padding: 1em;
    box-shadow: 0 0 1.98em #7f89a140;
    height: 15em;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
#services .ser>div i{
    font-size: 2.5em;
    color: var(--mainColor);
}
#services .ser>div h4{
    margin: 1em 0;
    font-size: 1.1em;
}
@media only screen and (max-width : 1170px) {
    :root{
        --all-pad : 0 3em;
    }
    main>section {
        padding: 3em;
    }
    .menu-btn {
        display: block;
    }

    .r-nav {
        display: none;
    }
    header>div {
        min-width: 100%;
    }

    header .rt {
        display: flex;
        justify-content: center;
    }

    header .rt img {
        width: 25em;
        animation-play-state: paused;
    }

    header {
        padding: 3em;
        height: auto;
        flex-direction: column-reverse;
    }
    #aboutUs {
        display: block;
    }
    #aboutUs>div{
        max-width: 100%;
    }
    #aboutUs .rt{
        margin-top: 2em;
    }
}
@media only screen and (max-width : 630px){
    :root{--all-pad : 0 1em;}
    .flx{
        flex-direction: column;
    }
    header{
        padding: 3em 1em;
    }
}